body {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
  }

  p {
    margin: 0px 0px 10px 0px;
  }

  /* Styles für Links */
  a {
    color: #ff4800;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  /* Hover-Effekt für Links */
  a:hover {
    color: #ff7f00;
  }

  select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ff4800;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    margin-bottom: 15px;
  }

  /* Styles für Button */
  button {
    padding: 8px 8px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #ff4800;
    /* Orange Farbe */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Hover-Effekt für Button */
  button:hover {
    background-color: #fc8042;
  }

  .custom-dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ff4800;
    border-radius: 4px;
    width: 400px;
  }

  .search-box {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ff4800;
    border-radius: 4px;
    width: 370px;
    height: 20px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 38px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff4800;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff4800;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff4800;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 24px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .custom-dropdown {
    position: relative;
    display: inline-block;
  }

  .selected-option {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }


  #searchInput {
    box-sizing: border-box;
    background-image: url('../img/ts-map-pin.svg');
    background-position: 0px 0px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 10px 0px 10px 35px;
    border: none;
    width: 100%;
    max-width: 730px;
    border-bottom: 1px solid #ff4800;
  }

  #searchInput:focus {
    outline: 0px solid #ff4800;
    background-color: #f5f5f5;
  }

  .dropdown-content {
    background-color: #f5f5f5;
    width: 100%;
    max-width: 730px;
    max-height: 220px; /* Maximal fünf Einträge sichtbar, rest wird gescrollt */
    overflow-y: auto; /* Hier wird die vertikale Scrollleiste hinzugefügt */
    border: 1px solid #ddd;
    z-index: 1;
    cursor: pointer;
  }

  .dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
  background-color: white;
  }

  .dropdown-content .selected {
    background-color: white;
  }

  .dropdown a:hover {
    background-color: #ddd;
  }


